section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}

.internal {
	text-align: justify;
	float: right;
}
#cloud {
	display: block;
	width:400px; height:350px; 
	position: relative;
	margin-bottom: -50px;
}
#p {
	position: absolute;
	display: inline-block;
}